body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}

/* .react-flow__edge-label{
  transform: translateX(-50%);
} */

.react-flow__edge-condition{
  position: absolute;

  font-size: 12px;

  width: 48px;
  height: 24px;

  line-height: 23px;
  
  text-align: center;
  border-radius: 4px;  
  box-sizing: border-box;
}

.react-flow__edge-condition--true{
  color:#45B25D;
  background: #F1FFF4;
  border: 1px dashed #45B25D;
}

.react-flow__edge-condition--false{
  color: #D65555;
  background: #FFE8E8;
  border: 1px dashed #D65555;
}

.defaultNode{
  width: 280px;
  height: 88px;
  background: white;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid #E0E1E5;
  box-shadow: 22px 35px 17px rgba(171, 171, 171, 0.01), 12px 20px 14px rgba(171, 171, 171, 0.05), 6px 9px 10px rgba(171, 171, 171, 0.09), 1px 2px 6px rgba(171, 171, 171, 0.1), 0px 0px 0px rgba(171, 171, 171, 0.1);
  border-radius: 8px;
  /* line-height: 88px; */
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-flow__node-defaultNode.selected .defaultNode{
  border-color: #316FEA;
}

.react-flow__nodesselection-rect {
  display: none;
}

.react-flow__edge-path--transparent{
  fill: none;
  stroke-width: 15px;
}

.nodeMenu{
  position: absolute;
  right: 11px;
  top: 7px;
  display: flex;
  flex-direction: column;
}

.nodeMenu .menuIcon{
  fill: #858585;
}

.nodeMenu:hover .menuIcon{
  fill: black;
}

.menuIcon{
  height: 20px;
  width: 20px;
  fill: black;
  cursor: pointer;
}

.dropdown{
  flex-direction: column;
  position: absolute;

  top: 26px;
  right: 0;
  z-index: 99991;
  padding: 6px 0;

  border: 1.5px solid #E0E1E5;
  box-shadow: 22px 35px 17px rgba(171, 171, 171, 0.01), 12px 20px 14px rgba(171, 171, 171, 0.05), 6px 9px 10px rgba(171, 171, 171, 0.09), 1px 2px 6px rgba(171, 171, 171, 0.1), 0px 0px 0px rgba(171, 171, 171, 0.1);
  border-radius: 8px;
  background: white;  
}

.item{
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;
  height: 30px;
  white-space: nowrap;
}

.item:hover{
  background-color: #e1e1e1;
}

.nodeTooltip{
  background: #000000b5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.nodeTooltip h3{
  margin: 0;
}

.edgeTooltip{
  position: absolute; 
  /* opacity: 0;  */
  display: none;
  pointer-events: none;

  z-index: 999;

  background: #000000b5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;  
}